{% extends "layout.html" %}
{% block content %}
<h1>Star Wars universe planets</h1>
<nav aria-label="Page navigation example">
    <form action="/pagination" method="POST">
        {%if prev_page == None %}
        <button type="submit" name="link" class="btn btn-outline-secondary" value="{{prev_page}}" disabled>Previous
        </button>
        {%else%}
        <button type="submit" name="link" class="btn btn-outline-secondary" value="{{prev_page}}">Previous</button>
        {%endif%}
        {%if next_page == None %}
        <button type="submit" name="link" class="btn btn-outline-secondary" value="{{next_page}}" disabled>Next</button>
        {%else%}
        <button type="submit" name="link" class="btn btn-outline-secondary" value="{{next_page}}">Next</button>
        {%endif%}
    </form>
</nav>

<table class="table table-bordered" id="table-planets">
    <thead id="table-head">
    <tr>
        <td>Name</td>
        <td>Diameter</td>
        <td>Climate</td>
        <td>Terrain</td>
        <td>Surface Water Percentage</td>
        <td>Population</td>
        <td>Residants</td>
        {% if session['username']%}
        <td>Vote</td>
        {%endif%}
    </tr>
    </thead>
    <tbody>
    {%if planets%}
    {%for planet in planets%}
    <tr>
        <td class="name_planet">{{planet['name']}}</td>
        <td class="diameter">{{planet['diameter']}}</td>
        <td class="climate">{{planet['climate']}}</td>
        <td class="terrain">{{planet['terrain']}}</td>
        <td class="sur_water">{{planet['surface_water']}}</td>
        <td class="population">{{planet['population']}}</td>
        <td class="residents" url_pl="{{planet['url']}}">{{planet['residents']}}</td>
        {% if session['username']%}
        <td>Vote</td>
        {%endif%}
    </tr>
    {%endfor%}
    {%endif%}
    </tbody>
</table>

<!-- Modal -->
<div id="popup" class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h3 id="popup-header"></h3>
            <span class="close">&times;</span>
        </div>
        <hr>
        <div class="popup-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Height</th>
                    <th>Mass</th>
                    <th>Hair color</th>
                    <th>Skin color</th>
                    <th>Eye color</th>
                    <th>Birth year</th>
                    <th>Gender</th>
                </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
        <hr>
        <div class="popup-footer">
            <p><button class="btn btn-outline-secondary close">Close</button></p>
        </div>
    </div>
</div>

{% endblock %}
