{% extends "layout.html" %}
{% block content %}
<h1>Star Wars universe planets</h1>
<nav>
<button type="button" id="prev-link" class="btn btn-outline-secondary btn-paginator">Previous</button>
<button type="button" id="next-link" class="btn btn-outline-secondary btn-paginator">Next</button>
</nav>

<table class="table table-bordered" id="table-planets">

</table>

{% include 'residents_modal.html' %}
{% include 'login_modal.html' %}
{% include 'registration_modal.html' %}
{% include 'statistics_modal.html' %}


{% endblock %}
