<div id="popup" class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h3 id="popup-header"></h3>
            <span class="close">&times;</span>
        </div>
        <hr>
        <div class="popup-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Height</th>
                    <th>Mass</th>
                    <th>Hair color</th>
                    <th>Skin color</th>
                    <th>Eye color</th>
                    <th>Birth year</th>
                    <th>Gender</th>
                </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
        <hr>
        <div class="popup-footer">
            <p><button class="btn btn-outline-secondary close">Close</button></p>
        </div>
    </div>
</div>