<div id="popup-statistics" class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h3>Vote statistics</h3>
            <span class="close">&times;</span>
        </div>
        <hr>
        <div class="popup-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Planet name</th>
                    <th>Recived votes</th>
                </tr>
                </thead>
                <tbody id="table-body-stat"></tbody>
            </table>
        </div>
        <hr>
        <div class="popup-footer">
            <p><button class="btn btn-outline-secondary close">Close</button></p>
        </div>
    </div>
</div>